:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------header----------------------------------*/

.header {
  border-bottom: solid 1px #ececec;
}
.header-top {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  margin-right: 93px;
}

.logo-header {
  color: black;
}

.contacts-item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  display: flex;
}
.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-list .nav-link.current {
  color: #2196f3;
}

.nav-link {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* ----------------------------hero----------------------------*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 0;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
}
/*---------------------------- benefits----------------------------*/

.benefits {
  padding-top: 0px;
  padding-bottom: 94px;
}
.hidden {
  visibility: hidden;
}

.benefits-list {
  display: flex;
}
.benefits-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0;
}
.benefits-description {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*-----------------------------work--------------------------------*/
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}
.work-foto {
  margin-left: 30px;
}
.work-text {
  color: #212121;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

/*-----------------------------unit----------------------------------*/

.unit {
  background-color: #f5f4fa;
  padding-top: 0px;
  padding-bottom: 94px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.unit-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
}
.unit-list {
  display: flex;
}

.unit-card {
  margin-top: 0;
  margin-bottom: 30px;
}
.unit-item {
  margin-left: 30px;
}
.unit-name {
  margin-top: 0;
  margin-bottom: 10px;
}

/*----------------------------footer---------------------------------*/
footer {
  background-color: #2f303a;
  color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  margin-top: 0;
}
/*---------------portfolio.work-type--------------------------*/

.work-type {
  padding-top: 0px;
  padding-bottom: 94px;
}
.button-main-link:hover,
.button-main-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.button-main-list {
  display: flex;
  padding-top: 0;
  padding-bottom: 56px;
  justify-content: center;
}

.example-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}
.button-main-link {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  display: inline-block;
  margin-left: 8px;
}
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 4px;
}

.example-card {
  margin-bottom: 20px;
}

.example-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  margin-left: 24px;
}
.example-item {
  margin: 15px;
}
